TWITCH_CLIENT_ID=your_client_id_here
TWITCH_CLIENT_SECRET=your_client_secret_here
INITIAL_ACCESS_TOKEN=your_oauth_access_token
INITIAL_REFRESH_TOKEN=your_oauth_refresh_token
SUPER_ADMINS=username1,username2
HOME_CHANNELS=username